form * {
  color: white;
}

h1 {
  color: white;
  margin-bottom: 3vh;
}

input {
  max-width: 50vw;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  background-color: #041d2d;
  border: 1px solid #041d2d;
  border-radius: 20px;
  padding: 5vw;
  max-width: 60vw;
  margin: 10vw;
}

.mt-5 {
  margin-top: 0 !important;
}
