.App {
  background-color: #041d2d;
}

.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-page .header {
  display: flex;
  align-items: center;
}

.register-page .logo {
  height: 75px;
  margin-right: 10px;
}

.register-page .app-name {
  color: white;
  font-size: 60px;
  font-weight: lighter;
}

.register-page h1 {
  font-size: 50px;
  color: white;
  margin-top: 1rem;
  margin-bottom: 10vh;
  text-align: center;
}

.register-page .container {
  background-color: #527796;
  border: 1px solid #041d2d;
  border-radius: 20px;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.register-page input {
  width: 80%;
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 26px;
}

.register-page button {
  width: 45%;
  margin-top: 2vh;
  border-radius: 26px;
  background-color: white;
  color: black;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.register-page button:hover {
  background-color: rgb(208, 208, 208);
}

.register-page .confirm_button {
  width: 45%;
  margin-top: 2vh;
  border-radius: 26px;
  background-color: #00ffff;
  color: black;
  font-weight: bold;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.register-page .confirm_button:hover {
  background-color: #00bdbd;
}

.register-page .mb-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-page .text-danger {
  color: red;
}
