.App {
  max-width: 100%;
  text-align: center;
  height: 100vh; /* Zajistí, že kontejner bude mít plnou výšku okna */
  display: flex;
  padding: 10px;
  justify-content: center; /* Zarovná text horizontálně do středu */
  align-items: center; /* Zarovná text vertikálně do středu */
  box-sizing: border-box;
  background-color: #011313;

}


.session-list, .chat-component, .morsio-sheet {
  height: 100%; /* Zajistí, že komponenty zabírají celou výšku kontejneru */
  flex-grow: 1; /* Each div will grow equally to take up the container space */
  border-radius: 20px; /* Zaoblení rohů */
  margin: 10px; /* Přidá prostor mezi elementy a od okraje kontejneru */
}

.session-list.closed, .chat-component.closed, .morsio-sheet.closed {
  width: 40px; /* nebo jiná šířka odpovídající šířce tlačítka */
  /* Další styly pro zavřený stav */
}


.session-list {
  flex: 0 0 20%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 30% */
  /* Další styly pro SessionList */
}

.chat-component {
  flex: 0 0 60%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 60% */
  background-color: #e9ecef; /* Přidá barvu pozadí */
  /* Další styly pro ChatComponent */
}

.morsio-sheet {
  flex: 0 0 15%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 10% */
  background-color: #dee2e6; /* Přidá barvu pozadí */
  /* Další styly pro MorsioSheet */
}


