.App {
  width: 100vw;
  text-align: center;
  height: 100vh;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #011313;
}

.session-list,
.morsio-sheet {
  height: 100%;
  flex-grow: 1;
  border-radius: 20px;
  margin: 10px;
}

.session-list.closed,
.morsio-sheet.closed {
  width: 40px;
}

.session-list {
  flex: 0 0 20%;
}


.morsio-sheet {
  flex: 0 0 10%;
  background-color: #dee2e6;
}
