.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page .header {
  display: flex;
  align-items: center;
}

.login-page .logo {
  height: 75px;
  margin-right: 10px;
}

.login-page .app-name {
  color: white;
  font-size: 60px;
  font-weight: lighter;
}

.login-page h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 10vh;
  text-align: center;
}

.login-page .container {
  background-color: #527796;
  border: 1px solid #041d2d;
  border-radius: 20px;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 6rem;
  width: 30vw;
  display: flex;
  flex-direction: column;
}


.login-page input {
  width: 80%;
  padding: 12px;
  margin-bottom: 3rem;
  border-radius: 26px;
}

.login-page button {
  width: 45%;
  margin-top: 2vh;
  border-radius: 26px;
  background-color: white;
  color: black;
  font-weight: bold;
}

.login-page button:hover {
  background-color: rgb(208, 208, 208);
}

.login-page .confirm_button {
  width: 45%;
  margin-top: 2vh;
  border-radius: 26px;
  background-color: #00ffff;
  color: black;
  font-weight: bold;
  margin-left: 1rem;
}
.login-page .confirm_button:hover {
  background-color: #00bdbd;
}

.login-page .mb-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page .text-danger {
  color: red;
}

@media only screen and (max-width: 780px) {
  .login-page .container {
    width: 90vw !important;
  }

  .button-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .button-group button {
    margin: 0px !important;
    margin-top: 20px !important;
    width: 70% !important;
  }
}

