.session-list-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
  width: 100%;
  background-color: #041d2d;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.session-list-header {
  display: flex;
  align-items: center ;
  justify-content: center ;
  padding: 10px;
  font-size: 25px;
}

.session-list-h1 {

  margin: 0; /* Odstraní implicitní margin */
  font-weight: lighter;
  line-height: 1; /* Zajišťuje, že výška řádku nadpisu nezpůsobí posun */
}

.session-list-logo {
  width: 65px;
  height: 65px;
  margin-right: 10px;
}



.session-list-title,
.session-add-btn {
  display: block;
  margin: 10px auto;
  width: 80%;
  padding: 12px 0;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.session-link {
  text-decoration: none;
}

.session-add-btn {
  background-color: #527796;
  border: none;
  color: black;
  outline: none;
}

.session-list-title {
  background-color: #8eb9b3;
  color: black;
}

.session-add-btn:hover {
  background-color: #527796e1;
  cursor: pointer;
}

.session-list-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #527796;
  border-radius: 20px;
  padding: 25px;
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.session-list-footer .icon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
.session-list-footer .icon:hover {
  fill: #17a2b8;
  color: #17a2b8;
}

.session-list-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden; /* zabrání přetékání obsahu */
}

.session-list-sessions {
  flex-grow: 1; /* zajistí, že tento div zabere zbývající prostor */
  overflow-y: auto; /* povolí scrollbar v tomto divu */
}

.session-item {
  background-color: #8eb9b3; /* Stejná barva jako tlačítko Add new session */
  border: none;
  color: black;
  padding: 12px 0;
  margin: 10px auto; /* Můžete upravit podle potřeby */
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  width: 95%; /* nebo jinou šířku podle potřeby */
  display: flex; /* pro aplikaci padding a margin jak na block element */
  cursor: pointer;
  outline: none;
  box-sizing: border-box; /* Zahrne padding a border do šířky a výšky */
}

.session-edit-btn, .session-delete-btn {
  background: transparent; /* odstraní pozadí */
  border: none; /* odstraní rámeček */
  color: black; /* nastaví barvu ikon */
  cursor: pointer;
  padding: 0 5px;  font-size: 20px;
  margin-right: auto;
}

.session-item-text {
  flex-grow: 1;
  padding-left: 20px; /* Odsazení textu od levého */
}

.session-btn-group {
  display: flex;
  padding-right: 20px; /* Odsazení tlačítek od pravého kraje */
}

.session-edit-btn:hover, .session-delete-btn:hover {
  background-color: #67999b; /* Světlejší nebo tmavší barva pro hover efekt */
  color: #fff; /* Můžete změnit barvu textu, pokud potřebujete */
}

/* Případně můžete přidat stín pro tlačítka při najetí myši */
.session-edit-btn:hover, .session-delete-btn:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Můžete přidat specifické styly pro ikony z FontAwesome */
.icon {
  margin: 0 5px; /* přidá malý prostor okolo ikon */
}

/* Styl pro všechny scrollovací bary v kontejneru */
.session-list-sessions::-webkit-scrollbar {
  width: 5px; /* šířka scrollbaru */
}

/* Styl pro "track" (část, po které se posouvá "thumb") */
.session-list-sessions::-webkit-scrollbar-track {
  background: transparent; /* průhledné pozadí */
}

/* Styl pro "thumb" (posuvný element scrollbaru) */
.session-list-sessions::-webkit-scrollbar-thumb {
  background: #527796; /* barva thumb */
  border-radius: 4px; /* mírně zaoblené rohy */
}

/* Styl pro "thumb" při najetí myší */
.session-list-sessions::-webkit-scrollbar-thumb:hover {
  background: #6e8ca0; /* tmavší barva thumb při najetí myší */
}


