.session-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #041d2d;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.session-list-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 25px;
}

.session-list-h1 {
  font-weight: lighter;
}

.session-list-logo {
  width: 65px;
  height: 65px;
  margin-right: 10px;
}

.session-list.body {
  overflow-y: auto;
}

.session-list-title,
.session-add-btn {
  display: block;
  margin: 10px auto;
  width: 80%;
  padding: 12px 0;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.session-link {
  text-decoration: none;
}

.session-add-btn {
  background-color: #527796;
  border: none;
  color: white;
  outline: none;
}

.session-list-title {
  background-color: #8eb9b3;
  color: white;
}

.session-add-btn:hover {
  background-color: #527796e1;
  cursor: pointer;
}

.session-list-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #527796;
  border-radius: 20px;
  padding: 25px;
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.session-list-footer .icon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
.session-list-footer .icon:hover {
  fill: #17a2b8;
  color: #17a2b8;
}
