.morsio-sheet h2 {
  margin-top: 0;
  color: black;
  font-size: 1.2em;
  line-height: 1.5;
  background-color: #8eb9b3;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}

.morsio-sheet {
  background-color: #527796 !important;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.morsio-sheet.closed {
  width: 40px;
}

.morsio-sheet.closed .buttonClose {
  left: 25%;
}


.buttonClose {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.toggle-button {
  border-radius: 10px;
  border: none;
  background-color: #8eb9b3;
  color: white;
  width: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.morse-list {
  max-height: calc(100% - 40px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #8eb9b3 transparent;
  padding-bottom: 1rem;
}

.morse-list::-webkit-scrollbar {
  width: 10px;
}

.morse-list::-webkit-scrollbar-thumb {
  background-color: #8eb9b3;
  border-radius: 10px;
}

.morsio-sheet .morse-item {
  font-weight: bold;
  display: flex;
  padding: 5px 35px;
  border-bottom: 1px solid black;
}

.morsio-sheet .morse-item:hover {
  color: #01ffff;
  cursor: pointer;
}

.morsio-sheet .morse-item::before,
.morsio-sheet .morse-item::after {
  display: inline-block;
  padding: 0 5px;
}

.morsio-sheet .morse-item::before {
  content: attr(data-character);
  flex-grow: 0;
  text-align: left;
}

.morsio-sheet .morse-item::after {
  content: attr(data-code);
  flex-grow: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
