
.morsio-sheet h2 {
  margin-top: 0;
  color: black;
  font-size: 1.2em; /* Zvětšuje velikost písma nadpisu */
  line-height: 1.5; /* Zvětšuje výšku řádku, což zvětší celkovou výšku nadpisu */
  background-color: #8EB9B3;
  border-radius: 15px;
  padding: 10px;
}
.morsio-sheet {
  background-color: #527796 !important;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
}

.morsio-sheet::-webkit-scrollbar {
  display: none;
}

.morsio-sheet {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.morsio-sheet .morse-item:last-child {
  border-bottom: none;
}

.morsio-sheet.closed {
  width: 40px;
}

.buttonClose {
  position: absolute; /* Absolutní pozicionování vzhledem k nejbližšímu relativně pozicionovanému rodiči */
  top: 50%; /* Umístí tlačítko na střed v ose Y */
  left: 0; /* Umístí tlačítko na začátek v ose X (vlevo) */
  transform: translate(0, -50%); /* Posune tlačítko o 50% jeho výšky nahoru, aby bylo přesně ve středu */
}

.toggle-button {
  border-radius: 10px;
  border: none;
  background-color: #8EB9B3;
  color: white; /* Nastaví barvu textu nebo ikony na bílou */
  width: 20px; /* Můžete přizpůsobit šířku podle potřeby */
  height: 40px; /* Můžete přizpůsobit výšku podle potřeby */
  display: flex; /* Používá flexbox pro centrování obsahu */
  align-items: center; /* Centruje obsah tlačítka ve vertikálním směru */
  justify-content: center; /* Centruje obsah tlačítka v horizontálním směru */
}

.morsio-sheet .morse-item {
  font-weight: bold;
  display: flex;
  padding: 5px 35px;
  border-bottom: 1px solid black;
}

.morsio-sheet .morse-item::before,
.morsio-sheet .morse-item::after {
  display: inline-block;
  padding: 0 5px;
}

.morsio-sheet .morse-item::before {
  content: attr(data-letter);
  flex-grow: 0;
  text-align: left; /* Zarovnání textu doleva */
}

.morsio-sheet .morse-item::after {
  content: attr(data-code);
  flex-grow: 1;
  text-align: left; /* Zarovnání Morseovy abecedy doprava */
  white-space: nowrap; /* Zajistí, že Morseův kód zůstane na jedné řádce */
  overflow: hidden; /* Skryje přebytečný obsah, pokud by byl příliš dlouhý */
  text-overflow: ellipsis; /* Přidá výpustky, pokud je obsah oříznut */
}
