
  .modal {
    padding: 20px;
    border-radius: 10px;
    max-width: 500px; /* Šířka okna */
    width: 80%; /* Zvětši, pokud chceš širší okno */
    height: auto; /* Automatická výška podle obsahu */
    min-height: 200px; /* Minimální výška okna */
    max-height: 80%; /* Maximální výška, která zajišťuje, že okno nebude příliš dlouhé */
  }
  
  
  .modal h2 {
    margin-bottom: 20px;
  }
  
  .user-info p {
    width: 100%;
    margin-bottom: 10px; /* Malý margin pro lepší přehlednost */
  }
  
  .modal-actions {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .modal-action-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #8eb9b3;
    color: white;
  }
  
  .modal-action-button:hover {
    background-color: #527796;
  }
  
  .modal-action-button:last-child {
    margin-right: 0; /* Odstranění marginu na posledním tlačítku */
  }
  
  .profile-modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
  }
  