.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #041d2d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  max-width: 500px; /* nebo jiná maximální šířka */
  width: 100%; /* nebo méně, v závislosti na šířce obsahu */
  max-height: 40%;
  box-sizing: border-box;
}

.modal h2 {
  margin-bottom: 20px;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.modal button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #8eb9b3;
  color: white;
}

.modal-actions {
  display: flex;
  justify-content: center; /* nebo 'space-around' pro rovnoměrné rozložení */
  padding: 1em; /* Přidá trochu prostoru okolo tlačítek */
}

.modal-action-button {
  margin: 0 0.5em; /* Přidá trochu prostoru mezi tlačítka */
  /* Další styly pro tlačítka */
}

.modal button:hover {
  background-color: #527796;
}

.modal button:last-child {
  background-color: #f26457; /* červené tlačítko pro Cancel */
}

.modal button:last-child:hover {
  background-color: #d9534f;
}
